/* CSS geral e fontes */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/Fonts/Outfit-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik";
  src: url("./assets/Fonts/Rubik-Regular.ttf") format("truetype");
}

/* Variáveis fixas */
:root {
  /* Cores */
  --cor-primaria: #E0F2FE;
  --cor-secundaria: #DCFCE7;
  --cor-terciaria: #FCE7F3;
  --cor-fonte-primaria: #0369A1;
  --cor-fonte-secundaria: #15803D;
  --cor-fonte-terciaria: #B91C1C;
  /* Fontes */
  --fonte-titulos: "Outfit", sans-serif;
  --fonte-geral: "Rubik", sans-serif;
  /* Bordas */
  --borda-cards: 25px;
  --borda-botoes: 10px;
  --borda-imagens: 30px;
}