.logoMarca {
    display: flex;
    align-items: center;
    gap: 0.625rem;

    .logo {
        width: 3.125rem;
        height: 3.75rem;
    }

    .tituloCabecalho {
        font-family: var(--fonte-titulos);
        font: bolder;
    }

    &.preto .tituloCabecalho {
        color: #000;
    }

    &.branco .tituloCabecalho {
        color: #fff;
    }
}